<!--{template bazi:common/header}-->

<style>
  .about-wall {width:900px;padding:20px;border:solid 2px rgba(0,0,0,0.4);border-radius:8px;margin: 70px auto 10px;background: #fff;font-size: 15px;font-family: 'KaiTi';}
  .about-wall p {font-family:'Arial','KaiTi';line-height:30px;text-indent:2em;}
  h1 {font-size:18px;}
</style>
<div class="about-wall">
  <h1>关于</h1>
  <p>掐指一算专为四柱八字命理师设计，旨在帮助八字命理师解决批命过程中纷繁复杂的计算过程，将八字命理特征用直观的图文并茂形式展示，来帮助命理师可以快速对八字做出准确论断。同时本系统也可作为命理师的命例管理系统。本系统基于子平正脉八字理论和以《滴天髓》为主的旺衰论命理论开发。非此两派的命理师对本系统分析的八字特征，请酌情取用。</p>

  <p>特别说明，对八字命理学不了解的用户，请寻求专业八字命理师的解读。八字批命是一个系统论断过程，切不可以某一特征对整体命局妄下判断。例如，如果八字命盘中不显配偶星，不能就此判断此生无婚姻缘分，需结合八字命局和一生的大运流年来做全局分析，才可论断。</p>

  <p>掐指一算是一群爱好八字的程序员所编写，我们立志做最专业的八字分析平台。非常感谢各位八字爱好者和命理师使用本系统，在使用过程有任何问题，可发送邮件至<a href="mailto:shawsen@126.com">shawsen@126.com</a>。</p>
</div>


<script type="text/javascript">
(function(){
    active_top_nav("about");
/*
	jQuery('#login-btn').unbind('click').click(login);
	jQuery('#enter-btn').unbind('click').click(function(){
		if (dz.uid==0) {
			login();
		} else {
			window.location="plugin.php?id=bazi:console";
		}
	});
	// 默认执行登录
	var action = '{$action}';
	if (action=='login') {
		login();
	}
*/
})();
</script>

<!--{template bazi:common/footer}-->
