<!--{template bazi:common/header}-->
<style>.footer{position:absolute;bottom:10px;left:0;right:0;}</style>
  <div id="particles-js" style="position:absolute;top:0;left:0;right:0;bottom:30px;background:none;z-index:-1;"></div>
  <script type="text/javascript" src="{$plugin_path}/template/libs/particles/particles.bazi.js"></script>

  <div style="position:absolute;top:200px;left:0;right:0;text-align:center;font-size:30px;color:#fff;">
	<p class="main-title">专为八字命理师设计</p>
    <a class="btn btn-primary" id="enter-btn" href="javascript:;">点击进入 <i class="sicon-arrow-right" style="font-size:16px;vertical-align:text-bottom"></i></a>
  </div>

<script>
(function(){
    active_top_nav("home");
    
	jQuery('#enter-btn').unbind('click').click(function(){
		if (dz.uid==0) {
			login();
		} else {
			window.location="plugin.php?id=bazi:console";
		}
	});
	// 默认执行登录
	var action = '{$action}';
	if (action=='login') {
		login();
	}
})();
</script>

<!--{template bazi:common/footer}-->
