<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>bazi</title>
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/libs/jquery-ui/jquery-ui.min.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/libs/mwt/3.3/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/src/frame/main.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/src/frame/{$page_style}/frame.css">
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/requirejs/2.1.9/require.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/common.js" charset="utf-8"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/calendar.js" charset="utf-8"></script>
  <style>
    #cul li {padding:3px 0;}
  </style>
</head>
<body>

<div id="sdiv" style="position:absolute;top:10px;left:10px;right:400px;bottom:10px;background:#fff;border:solid 10px #ccc;border-radius:4px;overflow:auto;">
  <ul id="cul">
  </ul>
</div>

  

<script>


var mwtcalendar = {

	isLeapYear: function(year) {
		if (year%400==0) return true;
		if (year%4==0 && year%100!=0) return true;
		return false;
	}

};

function append(str)
{
	var code = '<li>'+str+'</li>';
	jQuery('#cul').append(code);
}

var days = [];

function doup(start_year,end_year)
{
	var solarMonth=[31,28,31,30,31,30,31,31,30,31,30,31];

	var dt = {year:2100,month:2,day:29};
	days = [dt]; loopdo(0); return;

	days = []; 

    for (var y=start_year;y<=end_year;++y) {
		for (var m=1;m<=12;++m) {
			var dm = solarMonth[m-1];
			if (m==2 && mwtcalendar.isLeapYear(y)) dm=29;
			for (var d=1;d<=dm;++d) {
				var dt = {year:y,month:m,day:d};
				days.push(dt);
/*
				var data = getData(dt);
				var dateInfo = data.date;
				console.log(dateInfo);
				upload(dateInfo);
				return;
				//if (dateInfo.sign!="") {
				//}

				//if (m==2) append(str);
				//if (m==2) console.log(y+"-"+m+"-"+d);
*/
			}
			//return;
		}
	}
	loopdo(0);
}

function loopdo(idx)
{
	if (idx>=days.length) return;
	var dt = days[idx];
	var data = getData(dt);
	var dateInfo = data.date;
	//console.log(dateInfo);
	upload(dateInfo);
	setTimeout(function(){
		loopdo(++idx);	
	},1);
}



function upload(data)
{
	if (data.festival!='') {
		data.festival = data.festival.replace(/\(/g,'（');
		data.festival = data.festival.replace(/\)/g,'）');
	}


	var api = '$_G['siteurl']/source/plugin/bazi/index.php?version=4&module=caldb&action=updata';
	jQuery.ajax({
        url: api,
		type: 'POST',
		dataType: "json",
		data: data,
		async: false,
		complete: function(res) {
            //if(!noanimation) hide_loading();
        },
        success: function(res) {
			var dateInfo=data;
			var str = dateInfo.cYear+'-'+dateInfo.cMonth+'-'+dateInfo.cDay+' '+
				dateInfo.IMonthCn+dateInfo.IDayCn+" "+
				dateInfo.gzYear+'年 '+dateInfo.gzMonth+'月 '+dateInfo.gzDay+'日 '+
				'节气：'+dateInfo.Term+' 节日：'+dateInfo.festival;
			append(str);
			jQuery('#sdiv').scrollTop(100000000);		
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            var errmsg = "Error("+XMLHttpRequest.readyState+") : "+textStatus;
            //alert(errmsg);
			var dateInfo=data;
			console.log(dateInfo);
        }
    });
}

doup(2100,2100);

</script>




</body>
</html>
