<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>【{$bazi[name]}】{$setting[page_title]}—专为八字命理师设计</title>
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/4.0/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/view/pc/foresee/index.css">
  <script type="text/javascript" src="{$plugin_path}/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/echarts/3.3.2/echarts.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/echarts/3.3.2/theme/dark.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/mwt/4.0/mwt.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/requirejs/2.1.9/require.js"></script>
<!--
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/zicon/zicon.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/src/style/pc.css">
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/mwtcalendar.js"></script>
-->
</head>
<body style="background-color:#172a3d;background-image:url({$plugin_path}/template/static/bg.png);">
<div id="appdiv"></div>
<script>
var dz={
	siteurl    : '$_G['siteurl']',
	pluginpath : '{$plugin_path}',
	ajaxapi    : '{$plugin_path}/index.php?version=4&module='
};
var setting = <!--{echo json_encode($setting);}-->;
var bazi = <!--{echo json_encode($bazi);}-->;
var log,ajax;
jQuery(document).ready(function($) {
	require.config({
		baseUrl: "{$plugin_path}/template/src/",
	});
	require(['view/pc/foresee/page','core/log','core/ajax'],function(page,corelog,coreajax){
		log  = corelog;
		ajax = coreajax;
        console.log(bazi);
        page.execute();
	});
});
</script>
</body>
</html>
