<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>bazi</title>
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/zicon/zicon.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/libs/jquery-ui/jquery-ui.min.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/libs/mwt/3.3/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/src/frame/main.css">
  <link type="text/css" rel="stylesheet" href="$_G['siteurl']/source/plugin/bazi/template/src/frame/{$page_style}/frame.css">
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/requirejs/2.1.9/require.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/src/japp.js" charset="utf-8"></script>
</head>
<body>
  <div id="frame-head">
    <div id="frame-logo"><a href="#/"><span>海浪数据平台</span></a></div>
    <div id="frame-menu"></div>
  </div>
  <div id="frame-body"></div>
<script>
// 全局参数
var navlist = {$navlist};
var dz = {
	// 基础信息
	controller: '{$controller}',
	siteurl  : '$_G['siteurl']',
	pluginpath : '$_G['siteurl']/source/plugin/bazi',
	ajaxapi : '$_G['siteurl']/source/plugin/bazi/index.php?version=4&module=',
	seccodeurl : '$_G['siteurl']/source/plugin/bazi/index.php?version=4&module=seccode',
	logouturl : '$_G['siteurl']/source/plugin/bazi/index.php?version=4&module=uc&action=logout',
	// 用户信息
	uid : $_G[uid],
	groupid : $_G[groupid],
	username : '$_G['username']',
	avatar : '{avatar($_G['uid'],'',true)}'
};
console.log(dz);   
var japp=new JApp('{$_G['siteurl']}/source/plugin/bazi/template/src/');
japp.init();
</script>
</body>
</html>
