<!--太极旋转Loading-->
<style>
	.square{
		width:200px;height:200px;position:relative; 
		transform:rotate(45deg); 
		-webkit-transform:rotate(45deg); 
		-moz-transform:rotate(45deg); 
		
		animation:rotate infinite linear 5s;margin:0 auto;
		-webkit-animation:rotate infinite linear 5s;margin:0 auto;
		-moz-animation:rotate infinite linear 5s;margin:0 auto;
	}
	.rect{width:200px;height:100px;position:relative;border:none;border-bottom:none;}
	.inner_circle{width:100px;height:100px;border-radius:100px;position:absolute;z-index:1;}
	.dot{width:25px;height:25px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%;}
	.rect_one{border-radius:100px 100px 0 0;background:white;}
	.rect_one_one{bottom:-50px;left:0;background:black;}
	.rect_one_two{background:white;}
	.rect_two{border-radius:0 0 100px 100px;background:black;}
	.rect_two_one{bottom:50px;right:0;background:white;}
	.rect_two_two{background:black;}
	@keyframes rotate{
		from{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		}to{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}}
</style>

<div id="frame-loading">
	<div style="margin:200px auto;text-align:center;">
		<div class="square">
			<div class="rect rect_one">
				<div class="inner_circle rect_one_one">
					<div class="dot rect_one_two"></div>
				</div>
			</div>
			<div class="rect rect_two">
				<div class="inner_circle rect_two_one">
					<div class="dot rect_two_two"></div>
				</div>
			</div>
		</div>
		<p style="font-family:'KaiTi';font-size:20px;font-weight:bold;margin-top:20px;">掐指一算...<br>
			<span style="font-size:12px;">（若长时间未出结果，请刷新页面试试）</span>
		</p>
	</div>
</div>
