<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>掐指一算—专为八字命理师设计</title>
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/jquery-ui/jquery-ui.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/3.5/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/frame/main.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/base.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/frame/star/frame.css">
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/mwtcalendar.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/libs/requirejs/2.1.9/require.js"></script>
  <script type="text/javascript" src="$_G['siteurl']/source/plugin/bazi/template/src/japp.js" charset="utf-8"></script>
</head>
<body>
  hello
<script>
</script>
</body>
</html>
