/* 框架样式 */
* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -icab-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
	font-family:'KaiTi','Arial','microsoft yahei';
}
body {background-color:#172a3d;color:#fff;}


#mwt-notify-container {top:60px;}
/*.mwt-notify {background:#fff !important;}*/

/* 页面整体框架 */
#frame-head {position:relative;height:60px;width:100%;}
#frame-body {position:absolute;top:60px;left:0;right:0;bottom:0;}
#frame-west {position:absolute;left:0;top:0;bottom:0;width:180px;overflow:auto;}
#frame-center {position:absolute;left:180px;right:0;top:0;bottom:0;overflow:auto;padding:5px 10px;border-top:solid 1px #3b566f;border-left:solid 1px #3b566f;}

/* 页头-Logo区 */
#frame-logo {display:block;position:absolute;top:0;left:0;bottom:0;text-decoration:none;padding:8px 5px;color:#fff;}
#frame-logo img {width:38px;padding:2px;}
#frame-logo span {float:right;padding:0px 10px;font-family:'黑体';font-size:16px;}
#frame-title {position:absolute;left:128px;top:10px;font-size:12px;font-family:'KaiTi';color:#ccc;}
/* 页头-导航菜单 */
#frame-menu {position:absolute;top:0;left:50px;bottom:0;right:0;}
.menuul {display:inline-block;margin:0;padding:0;position:absolute;left:0;bottom: 0;}
.menuul li {list-style-type:none;margin:0;padding:0;float:left;line-height:31px;}
.menuul li a {
	display:inline-block;min-width:80px;text-align:center;
	text-decoration:none;color:#75A6CC;font-size:13px;
	background:#024369;border-right:solid 1px #375775;
}
.menuul li:first-child a {border-top-left-radius:4px;}
.menuul li:last-child a {border-top-right-radius:4px;border-right:none;}
.menuul li a:hover,.menuul li a.active {text-decoration:none;color:#FFF;background:#255C82;}
.menuul li a i {margin-right:3px;}

/* 页头-用户菜单 */
.comdiv {float:right;color:#fff;font-size:14px;padding:5px 10px;}
.comdiv a {text-decoration:none;color:#fff;padding:5px;}
.userdiv {position:relative;display:inline-block;}
.userdiv div {
    display:none;z-index:999;position:absolute;top:17px;right:0px;
    border:solid 1px #33577B;background-color:#0F2644;border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    padding: 5px 0;line-height:30px;
}
.userdiv:hover div {display:block;}
.userdiv:hover div a:hover {color:#FF8907;}


/* 左部导航区 */
.leftmenu {width:100%;}
#leftnavexpbtn {color: #F80;font-size:11px;line-height:25px;text-align:center;letter-spacing:2px;cursor:pointer;}
#leftnavexpbtn:hover {font-size:13px;}
.leftmenu,.leftmenu ul,.leftmenu li{list-style-type:none;margin:0;padding:0}
.leftmenu>li {}
.leftmenu>li>a {display:block;padding:10px 0;font-size:12px;font-family:"microsoft yahei";color:#aaa;position:relative;text-align:center;}
.menu-close>ul {display:none;}
.menu-open>a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f106";
    position:absolute;
    top:12px;
    right:5px;
    font-size:16px;
}
.menu-close>a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    position:absolute;
    top:12px;
    right:5px;
    font-size:16px;
}
.menu-open>ul {display:block;}
.submenu>li>a {display:block; padding:3px 30px 8px;font-size:12px;font-family:"microsoft yahei";}
.leftmenu a{text-decoration:none;}
.leftmenu a:hover,.leftmenu a.active{text-decoration:none;background:rgba(83,83,83,0.3);color:#d0e9ff;}
.leftmenu i {padding:0;margin:0;font-size:16px;}

/* 面包屑导航 */
.posul {display:inline-block;margin:0;padding:0;}
.posul li {list-style-type:none;margin:0;padding:0;float:left;line-height:30px;color:#666;font-size:13px;}
.posul li a {text-decoration:none;color:#666;}
.posul li a:hover {color:#FF8907;}

/* 个人中心 */
.uctfm {border-collapse:collapse;font-size:13px;width:100%;}
.uctfm th:after {content:'：';}
.uctfm th {text-align:left;color:#666;font-weight:normal;}
.uctfm tr:last-child {border-top:dashed 1px #ccc;}
.uctfm th,.uctfm td {padding:5px 0;}


