<h1>婚恋</h1>
<!--{eval $hunlian=&$bazi['hunlian'];}-->

<!--干支关系图-->
<div id="hunlian-mingpan-div" style="border:solid 1px #065679;height:300px;padding:5px;position:relative;">
</div>

<h2>【婚恋总论】</h2>
<div>{$hunlian[spouse_name]}：{$hunlian[spouse_star][正]} {$hunlian[spouse_star][偏]}</div>

<h2>【婚恋诀】</h2>
<!--{loop $hunlian[spouse_juemap] $k $juelist}-->
  <!--{loop $juelist $m $im}-->
	<p><span class="{$k}sha">{$im[name]}</span><span class="shajue" style="padding-left:28px;">{$im[jue]}</span></p>
  <!--{/loop}-->
<!--{/loop}-->

<h2>【婚恋流年】</h2>
<table class="mingpan-tab">
<tr>
<!--{eval $i=-1;}-->
<!--{loop $hunlian[liunian] $year $hlim}-->
  <!--{eval $v=$bazi[liunian][$year];++$i;}-->
  <!--{if $i!=0 && $i%3==0}-->
	</tr><tr>
  <!--{/if}-->
  <td class="yunsui" style="vertical-align:top;">
	<a name="a-hunlian-liunian" data-year='{$year}' class="liunian {if $year==$current_year}jinnian{/if}" href="javascript:;">
		<span>{$year}[{$v[gan]}{$v[zhi]}]年（{$v[age]}岁）</span><br>
		<span class="badge"></span>
		{if $hlim[gan_he]}<span class="badge ji">合</span>{/if}
		{if $hlim[zhi_he]}<span class="badge ji">支合</span>{/if}
		{if $hlim[zhi_chong]}<span class="badge xiong">支冲</span>{/if}
		{if $hlim[gan_taohua]}<span class="badge ji">桃</span>{/if}
		{if $hlim[zhi_taohua]}<span class="badge ji">花</span>{/if}
		<span class="badge"></span>
	</a>
  </td>
<!--{/loop}-->
</table>
