<!--命盘-->
<!--{eval $current_year=date('Y');}-->
<div style="margin-top:20px;">
  <table class="mingpan-tab">
	<tr><td></td>
        <td colspan='2' class="zhuming">年柱</td>
        <td colspan='2' class="zhuming">月柱</td>
        <td colspan='2' class="zhuming">日柱</td>
        <td colspan='2' class="zhuming">时柱</td><td></td>
    </tr>
	<tr><td class="title">十神</td>
		<td colspan='2' class="shishen">{$bazi[nian_gan_info][shishen][short_name]}</td>
		<td colspan='2' class="shishen">{$bazi[yue_gan_info][shishen][short_name]}</td>
        <td colspan='2' class="shishen">日元</td>
        <td colspan='2' class="shishen">{$bazi[hour_gan_info][shishen][short_name]}</td><td></td>
    </tr>
	<tr><td class="title" rowspan="2"><!--{if $bazi[gender]=='男'}-->乾造<!--{else}-->坤造<!--{/if}--></td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[nian_gan_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[nian_gan]}</span>
			<span class="wuxing">{$bazi[nian_gan_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[yue_gan_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[yue_gan]}</span>
			<span class="wuxing">{$bazi[yue_gan_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[ri_gan_info][yy]=='阴'}yin{else}yang{/if} riyuan">{$bazi[ri_gan]}</span>
			<span class="wuxing">{$bazi[ri_gan_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[hour_gan_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[hour_gan]}</span>
			<span class="wuxing">{$bazi[hour_gan_info][wuxing]}</span>
		</td><td></td>
    </tr>
	<tr><td colspan='2'>
			<span class="ganzhi {if $bazi[nian_zhi_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[nian_zhi]}</span>
			<span class="wuxing">{$bazi[nian_zhi_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[yue_zhi_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[yue_zhi]}</span>
			<span class="wuxing">{$bazi[yue_zhi_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[ri_zhi_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[ri_zhi]}</span>
			<span class="wuxing">{$bazi[ri_zhi_info][wuxing]}</span>
		</td>
		<td colspan='2'>
			<span class="ganzhi {if $bazi[hour_zhi_info][yy]=='阴'}yin{else}yang{/if}">{$bazi[hour_zhi]}</span>
			<span class="wuxing">{$bazi[hour_zhi_info][wuxing]}</span>
		</td>
		<td class="shishen" style="font-size:12px;">
			(<!--{loop $bazi[kongwang] $k $v}-->
				{$v}
			<!--{/loop}-->
			空)
		</td>
    </tr>
	<tr><td class="title">藏干</td>
		<td colspan='2'>
		  <!--{loop $bazi[nian_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[gan]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[yue_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[gan]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[ri_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[gan]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[hour_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[gan]}</span>
		  <!--{/loop}-->
		</td><td></td>
	</tr>
	<tr><td class="title">支神</td>
		<td colspan='2'>
		  <!--{loop $bazi[nian_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[shishen][short_name]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[yue_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[shishen][short_name]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[ri_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[shishen][short_name]}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='2'>
		  <!--{loop $bazi[hour_zhi_info][canggan] $k $r}-->
			<span class="shishen{if !$r[is_zhuqi]} yuqi{/if}">{$r[shishen][short_name]}</span>
		  <!--{/loop}-->
		</td><td></td>
	</tr>
	<tr><td class="title">地势</td>
		<td colspan='2'>{$bazi[nian_zhi_info][dishi]}</td>
		<td colspan='2'>{$bazi[yue_zhi_info][dishi]}</td>
		<td colspan='2'>{$bazi[ri_zhi_info][dishi]}</td>
		<td colspan='2'>{$bazi[hour_zhi_info][dishi]}</td><td></td>
	</tr>
	<tr><td class="title">纳音</td>
		<td colspan='2'>{$bazi[nayin][nian]}</td>
		<td colspan='2'>{$bazi[nayin][yue]}</td>
		<td colspan='2'>{$bazi[nayin][ri]}</td>
		<td colspan='2'>{$bazi[nayin][hour]}</td><td></td>
	</tr>
	<tr><td class="title">时令</td>
		<td colspan='4'>
		  <!--{loop $bazi[shiling] $k $v}-->
		    <span class="shiling{if $bazi[ri_gan_info][wuxing]!=$v} gray{/if}">{$k}</span>
			<span class="wuxing{if $bazi[ri_gan_info][wuxing]!=$v} gray{/if}">{$v}</span>
		  <!--{/loop}-->
		</td>
		<td colspan='5'>
			日元身<span style="color:gold;">{$bazi[wang_shuai][riyuan]}</span>
			<span style="display:none;">（{$bazi[wang_shuai][score]}）</span>
		</td>
	</tr>

	<tr><td class="title">大运</td>
	  <!--{loop $bazi[dayun] $k $v}-->
		<td width="11.11%" class="yunsui">
		  <span class="{if $v[gan_info][yy]=='阴'}yin{else}yang{/if}">{$v[gan]}</span><span class="sub gray">{$v[gan_info][wuxing]}</span><span class="sub">{$v[gan_info][shishen][short_name]}</span><br>
		  <span class="{if $v[gan_info][yy]=='阴'}yin{else}yang{/if}">{$v[zhi]}</span><span class="sub gray">{$v[zhi_info][wuxing]}</span><span class="sub">{$v[zhi_info][canggan][0][shishen][short_name]}</span>
		</td>
	  <!--{/loop}-->
    </tr>
	<tr><td class="title">岁数</td>
	  <!--{loop $bazi[dayun] $k $v}-->
		<td>{$v[age]}岁</td>
	  <!--{/loop}-->
    </tr>
	<tr><td class="title">始于</td>
	  <!--{loop $bazi[dayun] $k $v}-->
		<td>{$v[nian]}年</td>
	  <!--{/loop}-->
    </tr>

	<!--{loop array(0,1,2,3,4,5,6,7,8,9) $i}--> 
	<tr>
	  {if $i==0}
		<td class="title">流年</td>
	  {else}
		<td class="title"></td>
	  {/if}
	  <!--{loop $bazi[dayun] $k $dayun}-->
		<!--{eval $year=$dayun[liunian][$i];}-->
		<!--{eval $v=$bazi[liunian][$year];}-->
		<td class="yunsui">
		  <a name="a-liunian" data-year='{$year}' class="liunian {if $year==$current_year}jinnian{/if}" href="javascript:;" 
             title="{$year}年 ({echo $year-$bazi[sheng_nian]}岁)">
		    <span class="{if $v[gan_info][yy]=='阴'}yin{else}yang{/if}">{$v[gan]}</span><span class="sub gray">{$v[gan_info][wuxing]}</span><span class="sub">{$v[gan_info][shishen][short_name]}</span><br>
		    <span class="{if $v[gan_info][yy]=='阴'}yin{else}yang{/if}">{$v[zhi]}</span><span class="sub gray">{$v[zhi_info][wuxing]}</span><span class="sub">{$v[zhi_info][canggan][0][shishen][short_name]}</span>
		  </a>
		</td>
	  <!--{/loop}-->	
    </tr>
	<!--{/loop}-->
  </table>
</div>
