
.caseform {margin:20px 10px;}
.caseform select,.caseform option,.caseform span,.caseform input {font-family:'KaiTi';}

.caseform .nametxt {font-size:14px;padding:15px 5px;color:#333;}

.caseform table {width:100%;}
.caseform table td,.caseform table th {font-weight:normal;padding:10px;font-family:'KaiTi';}
.caseform table th {padding:0;}


/* 日历选择器table */
.caltb {width:100%;border-collapse:separate;border-spacing:4px;}
.caltb th,.caltb td {text-align:center;}
.caltb th {background:none;border:none;padding:1px 0 !important;font-size:15px;}
.caltb .bar {background:#fff;border-radius:2px;padding:4px 5px;text-align:left;}

.caltb td {border:solid 1px #ddd;padding:10px 0 !important;cursor:pointer;color:#aaa;background:#fff;}
.caltb td.curmonth {color:#555;}
.caltb td:hover {background:rgba(0,0,0,0.3);color:#fff;}
.caltb td.active {background:#66AFE9;color:#fff;}
.caltb .weekend {color:#f00;}
.caltb .date{font-size:18px;font-family:Serif,Arial;}
.caltb .date-yinli {font-size:12px;display:block;}

.caltb button,.caltb select {margin-right:5px;width:auto;}
.caltb button {height:23px;line-height:22px;padding:0 8px;border-radius:4px;}
.caltb button:hover {background:none;color:inherit;}
.form-control:hover {
    border-color: #66afe9;outline: 0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.caltb .labtxt {float:right;font-size:13px;line-height:26px;color:#028A0F;font-family:'KaiTi';}


/* 生辰选择器 */
select.shengchen {
	margin-right: 5px;
	display: inline-block;
    height: 26px;
    padding: 0;
    font-size: 13px;
    line-height: 26px;
    color: #000;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	border-radius: 4px;
}
select.shengchen option {color:#000;}

.name-y,.name-x {font-size:14px;font-family:'KaiTi';}
.name-y:before, .name-x:before {
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin-right: 4px;

}
.name-x {color:#f00;}
.name-x:before {content: "\f221";}
.name-y {color:#0766b7;}
.name-y:before {content: "\f222";}

